.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
}

.BannerImg {
    img {
        width: 1300px;
        height: 300px;
    }
}

.MediaWrap {
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding-left: 160px;
    padding-right: 40px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
}

