.singleColumn {
    max-width: 100%;
    width: 100vw;
    box-sizing: border-box;
    padding: 0;
    // background-image: radial-gradient(at 30% top, #031d33 0%, rgba(var(--tmdbDarkBlue), 1) 70%);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    padding-top: 80px;
    padding-bottom: 80px;
}

.join {
    text-align: right;
    position: relative;
    top: -36px;
    right: 0;

    img {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
    }
}

