.container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    background-color: #fff;
}

.RenderMovie {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 2rem;
    max-width: 100%;
    overflow-x: auto;
}

.ColumnWrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
}

.ContentWrapper {
    max-width: var(--maxPrimaryPageWidth);
    width: 100%;
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 110px 0 110px;
}

.Column {
    width: 100%;
}

.ColumnHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.Selector {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    border: 1px solid black;
    border-radius: 30px;

    h3 {
        margin: 0;
        padding: 4px 20px;
        display: inline-flex;
        align-content: center;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        margin-bottom: 0;
        white-space: nowrap;
    }
}

.Acnhor {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}