.container {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    margin-top: 8px;
    margin-left: 2rem;
    max-width: 100%;
    overflow-x: auto;
}

.ColumnHeader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
}

.Selector {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    align-content: center;
    border: 1px solid rgba(var(--tmdbDarkBlue), 1);
    border-radius: 30px;
}