.item {
    img {

        display: inline-block;
        width: 150px;
        height: 225px;
        margin: 0 14px 0 14px;
        border-radius: 8px;
        cursor: pointer;
    }

    h5 {
        text-align: center;
    }
}

.average {
    background-color: yellow;
}